.search-location-section {
    background: #fff;
}

.location-heading h2 {
    display: inline-block;
    color: #e10d0d;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: 3px solid #e10d0d;
    position: relative;
}

.location-heading {
    border-bottom: 1px solid #ddd;
}

.location-list {
    padding-left: 18px;
}

.location-list li a {
    color: #666;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease;
    line-height: 1.4;
}

.location-list li {
    color: #333;
    margin-bottom: 6px;
}

.location-list li a:hover {
    color: #073c91;
    padding-left: 4px;
}
